.card-quiz {
  margin-top: 1.5rem;
  border: 1px solid var(--gray);
  border-radius: 0.375rem;
  padding: 0.675rem 1rem 0;
  background-color: #fafafa;
}

.card-quiz h3 {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.option {
  width: 100%;
  height: 3rem;

  border: 1px solid var(--gray);
  background-color: #fafafa;
  cursor: pointer;
  border-radius: 5px;
  outline: none;

  display: flex;
  padding-left: 1.5rem;
  gap: 0.875rem;
  align-items: center;

  font-family: "Poppins";


}



.option-letter {
  border-radius: 15px;
  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  background-color: var(--gray);
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;

}

.option-text {
  font-size: 1.1rem;
  font-weight: 500;
}

.bottom-buttons {
  width: 100%;
  margin-block: 3rem 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.bottom-button {
  width: 250px;
  height: 30px;
  border: 1px solid var(--gray);
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Poppins";
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
}

.bottom-button:disabled{
  cursor: not-allowed;
}



/* CRIANDO ESTILOS DE RESPOSTAS */
.option-correct {
  background-color: #f0fdf4;  
  border: 2px solid #15803d;
}

.option-correct .option-letter {
  background-color: #15803d;
  color: #ffffff;
}


.option-incorrect {
  background-color: #fef2f2;
  border: 2px solid #b91c1c;
}


.option-incorrect .option-letter {
  background-color: #b91c1c;
  color: #ffffff;
}




/* CREATING DESKTOP VERSION */
@media (width > 768px) {
  .card-quiz {
    padding-inline: 2rem;
  }

  .options-container {
    gap: 20px;
  }

  .option {
    margin: 0 auto;
    width: 550px;
    height: 60px;
  }

  .bottom-buttons {
    max-width: 550px;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-button {
    margin: 0 auto;
    align-items: center;
    height: 40px;
  }
}


