.quiz-container {
  width: 100%;
  padding: 2.5rem 1.2rem 0;

}

.quiz-container > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.675rem;

}

.quiz-container > header h2 {
  font-weight: 400;
}

.quiz-container > header span {
  color: #888888;
  font-weight: 500;
}

/* ESTILIZANDO A BARRA */

.progress-bar {
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background-color: var(--gray);
}

.progress-bar-fill {
  width: 33%;
  height: 8px;
  border-radius: 8px;
  background-color: black;

}


@media (width > 768px) {
  .quiz-container {
    margin: 0 auto;
    max-width: 768px;
    padding-bottom: 5rem;
  }
  

}