#cards{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--gray);
  background-color: #FAFAFA;
  border-radius: 16px;
  padding: 1rem;
}

.card img {
  width: 64px;
  height: 64px;
}

.card h3 {
  padding-block: 8px;
}

.card a {
  width: 100%;
  height: 32px;
  border-radius: 8px;
  border: 1px solid var(--gray);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .2s ease-in-out;

  font-weight: 500;
  text-decoration: none;
  color: #222222;
  font-size: 0.875rem;

  &:hover {
    background-color: #e5e7eb;
    cursor: pointer;
  }
}

/* MEDIA QUERIE FOR THE CARD IN THE DESKTOP VERSION */
@media (min-width: 768px) {
  #cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
  }


  .card {
    width: 280px; 
    height: 220px;
    
  }

  #header h1{
    padding-top: 3rem;
  }

  #header p {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  .card h3 {
    padding-block: 8px 24px;
  }

  .container {
    padding-bottom: 5rem;
  }
}
