#cards{
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 16px;
  padding: 1rem;
  width: 90%;
}

.card img {
  width: 64px;
  height: 64px;
}

.card h3 {
  padding-block: 8px;
}

.card button {
  width: 100%;
  height: 32px;
  border-radius: 8px;
  border: 1px solid var(--gray);
  background-color: transparent;
  transition: 0.3s ease;

  &:hover {
    background-color: #e5e7eb;
    cursor: pointer;
  }
}

/* MEDIA QUERIE FOR THE CARD BE SMALL IN THE DESKTOP VERSION */
@media (min-width: 800px) {
  .card {
    width: 280px;
    height: 220px;
  }

  #header p {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  .card h3 {
    padding-block: 8px 24px;
  }
}
